{% extends 'aidecan/baseindex.html' %}
   {% block suit %}
    <div class="container" id="mamo">
        <div class="row">
            <div class="col-md-12">
                <h3>Nous vous avons envoyé un e-mail pour définir votre mot de passe, si le compte existe avec l'e-mail que vous avez entré. </h3>
                <h3>Vous devriez les recevoir dans quelques instants. </h3>
                <h4 id="h-rest-2">Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit.Et vérifiez votre dossier spam. </h4></div>
        </div>
    </div>
{% endblock %}