{% extends 'aidecan/baseindex.html' %}
{% block suit %}
    <div class="container" id="mamo">
        <div class="row">
            <div class="col-md-12">
                <h1>Changer votre mot de passe </h1>
                <p> </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <form method="post">
                    {% csrf_token %}
                     {% for field in form %}
                                <div class="col-md-12">
                                    <p>{{ field.label_tag }} </p>
                                    <div class="password_reset_input">
                                         {{ field }}
                                    </div>
                                 {% for error in field.errors %}
                     <p style="color: red">{{ error }}</p>
                     {% endfor %}
                                </div>
                 {% endfor %}
                <button type="submit" class="btn btn-primary" id="sub_rest">Confirmé</button>

                     </form>

        </div>
    </div>




 {% endblock %}