{% extends 'aidecan/baseindex.html' %}

{% block suit %}

    <div class="container" id="mamo">
        <div class="row">
            <div class="col-md-12" placeholder="E-mail">
                <h1>Vous avez oublié votre mot de passe ? </h1>
                <h3>Ne vous inquiétez pas, nous vous le rapporterons en suivant ces étapes: </h3>
                <h3>D'abord entrez l'e-mail qui correspond à votre compte.</h3>
                <form id="rest_form" method="post">
                 {% csrf_token %}
                 {% for field in form %}
                 <p>
                 {{ field.label_tag }}<br>
                 {{ field }}
                 {% for error in field.errors %}
                 <p style="color: red">{{ error }}</p>
                 {% endfor %}
                 </p>
                 {% endfor %}
                 <button id="sub_rest" class="btn btn-primary" type="submit">Confirmé</button>
                 </form>

                </div>
        </div>
    </div>

{% endblock %}