<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AideCan</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'aidcan/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'aidcan/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'aidcan/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'aidcan/assets/css/Pretty-Header.css' %}">
    <link rel="stylesheet" href="{% static 'aidcan/assets/css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'aidcan/assets/css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'aidcan/assets/css/styles3.css' %}">
    <link rel="stylesheet" href="{% static 'aidcan/assets/css/style4.css' %}">

</head>
<body>


        {% block content %}

        {% endblock %}


    <script src="{% static 'aidcan/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'aidcan/assets/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'aidcan/assets/js/javascript2.js'%}"></script>

    <script src="{% static 'aidcan/assets/js/javasript.js'%}"></script>




</body>
</html>